############################################################
# Configuration settings for Conjur demo environment
############################################################

export CONJUR_HOME=~/Conjur/cybrsm-demos

MASTER_PLATFORM=${MASTER_PLATFORM:-dockerdesktop} # default to local mac

# Set Master platform config
case $MASTER_PLATFORM in
  azure)
        source $CONJUR_HOME/config/azure.config
	;;

  aws)
        source $CONJUR_HOME/config/aws.config
	;;

  dockerdesktop)
        source $CONJUR_HOME/config/dockerdesktop.config
        source $CONJUR_HOME/config/dockerdesktop.k8s
	;;

  *)
	echo "Unknown platform" $MASTER_PLATFORM
	exit -1
esac
