###########################
# Jenkins job authn-jwt claim values
export JWT_APP_POLICY_TEMPLATE=app-authn-jwt.yml.template
					
export APP_IDENTITY=MB-Pipeline/branch2		# app identity value for authn-jwt

# first claim is the token-app-property (app identity) claim
export JWT_CLAIM1_NAME=$APP_IDENTITY_CLAIM
export JWT_CLAIM1_VALUE=$APP_IDENTITY

# Note: Claim names below must support enforced claims for authn-jwt endpoint
export JWT_CLAIM2_NAME=jenkins_task_noun
export JWT_CLAIM2_VALUE=Build
export JWT_CLAIM3_NAME=jenkins_pronoun
export JWT_CLAIM3_VALUE=Project
